<%- include('main/header'); %>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- contents -->
        <div class="main_content">

            <%- include('main/header_bar'); %>


            <div class="main_content_inner">

                <div id="spinneroverlay"> </div>

                <h1> Feeds </h1>
                <div class="uk-flex uk-flex-between uk-flex-middle mb-4">
                    <ul class="uk-width-expand" uk-tab>
                        <li class="uk-active"><a href="#">Top feeds</a></li>
                        <li><a href="#"> Latest feeds</a></li>
                    </ul>
                    <a href="#" class="button primary small circle uk-visible@s"> <i class="uil-plus"> </i>
                        Create Feed </a>

                </div>

                <div class="uk-child-width-1-3@m uk-child-width-1-1@s uk-child-width-1-3 uk-grid-collapse uk-overflow-hidden"
                    style="border-radius: 25px;  overflow: hidd en;" uk-lightbox="animation: scale" uk-grid>
                    <div style="margin-right: 6%;">
                        <a href="assets/images/post/img-1.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/post/img-1.jpg" uk-img style="min-width:450px; width:300px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                            
                        </a>
                        
                    </div>
                    <div style="margin-right: 6%;">
                        <a href="assets/images/post/img-3.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/post/img-3.jpg" uk-img style="min-width:450px; width:300px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div style="margin-right: 6%;">
                        <a href="assets/images/post/img-2.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/post/img-2.jpg" uk-img style="min-width:450px; width:300px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--
                    <div>
                        <a href="assets/images/post/img-4.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/post/img-4.jpg" uk-img style="min-width:450px; width:400px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="assets/images/events/img-1.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/events/img-1.jpg" uk-img style="min-width:450px; width:400px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="assets/images/events/img-2.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/events/img-2.jpg" uk-img style="min-width:450px; width:400px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="assets/images/events/img-3.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/events/img-3.jpg" uk-img style="min-width:450px; width:400px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="assets/images/events/img-4.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/events/img-4.jpg" uk-img style="min-width:450px; width:400px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="assets/images/events/listing-1.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/events/listing-1.jpg" uk-img style="min-width:450px; width:400px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div>
                        <a href="assets/images/events/listing-2.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/events/listing-2.jpg" uk-img style="min-width:450px; width:400px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="assets/images/events/listing-3.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/events/listing-3.jpg" uk-img style="min-width:450px; width:400px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="assets/images/events/listing-4.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/events/listing-4.jpg" uk-img style="min-width:450px; width:400px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="assets/images/events/listing-5.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/events/listing-5.jpg" uk-img style="min-width:450px; width:400px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div>
                        <a href="assets/images/events/listing-6.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/events/listing-6.jpg" uk-img style="min-width:450px; width:400px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="assets/images/category/img6.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/category/img6.jpg" uk-img style="min-width:450px; width:400px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="assets/images/category/img5.jpg" data-caption="Image caption">
                            <div class="sl_photo_list" data-src="assets/images/category/img5.jpg" uk-img style="min-width:450px; width:400px; width:400px; height:350px">
                                <div class="sl_photo_list-content">
                                    <div>
                                        <h4> Image description </h4>
                                        <p> <span>Like </span>
                                            <span> Comment </span>
                                            <span> Share</span>
                                        </p>
                                    </div>
                                    <div>
                                        <span class="uil-cloud-download btn-down"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div> -->
                </div>

            </div>

        </div>

    </div>

    <!-- Chat sidebar -->
    <a class="chat-plus-btn" href="#sidebar-chat" uk-toggle>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"></path>
        </svg>
        <!--  Chat -->
    </a>
    <div id="sidebar-chat" class="sidebar-chat px-3" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">

            <div class="sidebar-chat-head mb-2">

                <div class="btn-actions">
                    <a href="#" uk-tooltip="title: Search ;offset:7"
                        uk-toggle="target: .sidebar-chat-search; animation: uk-animation-slide-top-small"> <i
                            class="icon-feather-search"></i> </a>
                    <a href="#" uk-tooltip="title: settings ;offset:7"> <i class="icon-feather-settings"></i> </a>
                    <a href="#"> <i class="uil-ellipsis-v"></i> </a>
                    <a href="#" class="uk-hidden@s"> <button class="uk-offcanvas-close uk-close" type="button" uk-close>
                        </button> </a>
                </div>

                <h2> Chats </h2>
            </div>

            <div class="sidebar-chat-search" hidden>
                <input type="text" class="uk-input" placeholder="Search in Messages">
                <span class="btn-close"
                    uk-toggle="target: .sidebar-chat-search; animation: uk-animation-slide-top-small"> <i
                        class="icon-feather-x"></i> </span>
            </div>

            <ul class="uk-child-width-expand sidebar-chat-tabs" uk-tab>
                <li class="uk-active"><a href="#">Users</a></li>
                <li><a href="#">Groups</a></li>
            </ul>

            <a href="#">
                <div class="contact-list">
                    <div class="contact-list-media"> <img src="assets/images/avatars/avatar-2.jpg" alt="">
                        <span class="online-dot"></span> </div>
                    <h5> Dennis Han</h5>
                </div>
            </a>

            <a href="#">
                <div class="contact-list">
                    <div class="contact-list-media"> <img src="assets/images/avatars/avatar-1.jpg" alt="">
                        <span class="online-dot"></span> </div>
                    <h5> Erica Jones </h5>
                </div>
            </a>

            <a href="#">
                <div class="contact-list">
                    <div class="contact-list-media"> <img src="assets/images/avatars/avatar-7.jpg" alt="">
                        <span class="offline-dot"></span> </div>
                    <h5> Stella Johnson </h5>
                </div>
            </a>

            <a href="#">
                <div class="contact-list">
                    <div class="contact-list-media"> <img src="assets/images/avatars/avatar-5.jpg" alt="">
                        <span class="offline-dot"></span> </div>
                    <h5> Alex Dolgove </h5>
                </div>
            </a>
            <a href="#">
                <div class="contact-list">
                    <div class="contact-list-media"> <img src="assets/images/avatars/avatar-2.jpg" alt="">
                        <span class="online-dot"></span> </div>
                    <h5> Dennis Han</h5>
                </div>
            </a>
            <a href="#">
                <div class="contact-list">
                    <div class="contact-list-media"> <img src="assets/images/avatars/avatar-4.jpg" alt="">
                        <span class="online-dot"></span> </div>
                    <h5> Erica Jones </h5>
                </div>
            </a>
            <a href="#">
                <div class="contact-list">
                    <div class="contact-list-media"> <img src="assets/images/avatars/avatar-3.jpg" alt="">
                        <span class="offline-dot"></span> </div>
                    <h5> Stella Johnson </h5>
                </div>
            </a>
            <a href="#">
                <div class="contact-list">
                    <div class="contact-list-media"> <img src="assets/images/avatars/avatar-5.jpg" alt="">
                        <span class="offline-dot"></span> </div>
                    <h5> Alex Dolgove </h5>
                </div>
            </a>
            <a href="#">
                <div class="contact-list">
                    <div class="contact-list-media"> <img src="assets/images/avatars/avatar-2.jpg" alt="">
                        <span class="online-dot"></span> </div>
                    <h5> Dennis Han</h5>
                </div>
            </a>
            <a href="#">
                <div class="contact-list">
                    <div class="contact-list-media"> <img src="assets/images/avatars/avatar-4.jpg" alt="">
                        <span class="online-dot"></span> </div>
                    <h5> Erica Jones </h5>
                </div>
            </a>
            <a href="#">
                <div class="contact-list">
                    <div class="contact-list-media"> <img src="assets/images/avatars/avatar-3.jpg" alt="">
                        <span class="offline-dot"></span> </div>
                    <h5> Stella Johnson </h5>
                </div>
            </a>
            <a href="#">
                <div class="contact-list">
                    <div class="contact-list-media"> <img src="assets/images/avatars/avatar-5.jpg" alt="">
                        <span class="offline-dot"></span> </div>
                    <h5> Alex Dolgove </h5>
                </div>
            </a>



        </div>
    </div>

    </div>



    </div>

    <%- include('main/footer'); %>