<!doctype html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Socialize</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simplest is - Professional A unique and beautiful collection of UI elements">
    <link rel="icon" href="assets/images/internet.png">

    <!-- CSS 
    ================================================== -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/uikit.css">
    <link rel="stylesheet" href="assets/css/uikit.css">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="assets/css/icons.css">
    <script src="https://kit.fontawesome.com/815e388c50.js" crossorigin="anonymous"></script>

    <!-- Google font
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

</head>

<body class="bg-white">



    <!-- Content
    ================================================== -->
    <div uk-height-viewport class="uk-flex uk-flex-middle">
        <div class="uk-width-2-3@m uk-width-1-2@s m-auto rounded uk-overflow-hidden shadow-lg">
            <div class="uk-child-width-1-2@m uk-grid-collapse bg-gradient-primary" uk-grid>

                <!-- column one -->
                <div class="uk-margin-auto-vertical uk-text-center uk-animation-scale-up p-3 uk-light">
                    <img src="assets/images/internet.png" alt="" width="100">
                    <h3 class="mb-3 mt-lg-4"> Socialize</h3>
                    <p>Share what's new and life moments with <br> your friends. </p>
                </div>

                <!-- column two -->
                    <div class="uk-card-default px-5 py-8">
                        <div class="mb-4 uk-text-center">
                            <h2 class="mb-0"> Create new Account</h3>
                            <p class="my-2">Login to manage your account.</p>
                        </div>

                    <form class="uk-child-width-1-1 uk-grid-small" uk-grid method="POST">

                        <div>
                            <div class="uk-form-group">
                                <label class="uk-form-label"> Name</label>

                                <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-user"></i>
                                    </span>
                                    <input class="uk-input" type="text" id="name" name="name" placeholder="Full name" required>
                                </div>

                            </div>
                        </div>
                        <div>
                            <div class="uk-form-group">
                                <label class="uk-form-label"> Email</label>

                                <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-mail"></i>
                                    </span>
                                    <input class="uk-input" type="email" id="email" name="email" placeholder="name@example.com" required>
                                </div>

                            </div>
                        </div>
                        <div class="uk-width-1-2@s">
                            <div class="uk-form-group">
                                <label class="uk-form-label"> Date of Birth</label>

                                <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-user"></i>
                                    </span>
                                    <input class="uk-input" type="date" id="dob" name="dob"  required/>
                                </div>

                            </div>
                        </div>
                        <div class="uk-width-1-2@s">
                            <div class="uk-form-group">
                                <label class="uk-form-label"> Gender</label>

                                <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-user"></i>
                                    </span>
                                    <select class="uk-input" type="text" id="gender" name="gender"  required>
                                        <option value="">Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="uk-width-1-2@s">
                            <div class="uk-form-group">
                                <label class="uk-form-label"> Password</label>

                                <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-lock"></i>
                                    </span>
                                    <input class="uk-input" type="password" id="password" name="password" placeholder="********" required>
                                </div>

                            </div>
                        </div>
                        <div class="uk-width-1-2@s">
                            <div class="uk-form-group">
                                <label class="uk-form-label"> Confirm password</label>

                                <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-lock"></i>
                                    </span>
                                    <input class="uk-input" type="password" id="confirmpassword" name="confirmpassword" placeholder="********" required>
                                </div>

                            </div>
                        </div>

                        <div>
                            <div class="mt-4 uk-flex-middle uk-grid-small" uk-grid>
                                <div class="uk-width-expand@s">
                                    <p> Do you have account <a href="/login">Sign in</a></p>
                                </div>
                                <div class="uk-width-auto@s">
                                    <input id="signup" type="button" class="button primary" value="Get Started"/>
                                </div>
                            </div>
                        </div>

                    </form>
                </div><!--  End column two -->

            </div>
        </div>
    </div>

    <!-- Content -End
    ================================================== -->

    <!-- javaScripts
    ================================================== -->
    <script src="assets/js/uikit.js"></script>
    <script src="assets/js/simplebar.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
  
        document.getElementById("signup").addEventListener("click", function(event){
            event.preventDefault()
            $('#signup').val("Please wait..")
            let name = $('#name').val()
            let email = $('#email').val()
            let gender = $('#gender').val()
            let dob = $('#dob').val()
            let password = $('#password').val()
            let confirmpassword = $('#confirmpassword').val()
            if(name =="" || email=="" || password ==""){
                alert('Fill all fields')
                return
            }
            if(password !== confirmpassword){
                alert('password does not match')
                return
            }
            if(dob == ""){
                alert('Please select your gender')
                return
            }
            
            $.getJSON('https://geolocation-db.com/json/')
                .done (function(location) {
                    let body = {name,email,password,dob:dob,gender:gender,location:location.country_name}

                    $.ajax({
                        url:'/sessionregister',
                        method:'post',
                        data: body,
                        success:(result)=>{
                            if(result.status==true){
                                alert("Successful!.An email will be sent to you");
                                window.location.href='/login'
                                $('#signup').val("Please wait..")
                            }
                            else{
                                alert(result.message)
                                $('#signup').val("Please wait..")
                            }
                        },
                        error:(err)=>{
                          // console.log(err)
                        }
                        
                    })
                });
           
        });
       
    </script>


</body>

</html>